extends ../layout

block content
  .clearfix
    h1.pull-left Books in the Library
    .pull-right
      include partials/add-book
  each grouped_books in books
    .row
      each book in grouped_books
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src='//holder.js/300x200', src=book.mini_picture)
            .caption.clearfix
              h3
                a(href='/book/'+book._id)=book.name
              p= 'by - ' + book.author
              p= 'published by - ' + book.publisher
              p= book.edition + ' Edition'
              p= book.year
              - var tags=book.tags
              include ../partials/tags
              include partials/book-options
  include ../partials/pagination
